<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %level %logger{36} - %msg%n" />
<!-- 			<Filters>
				<ThresholdFilter level="TIMING" />
				<ThresholdFilter level="TRACE" onMatch="DENY" onMismatch="NEUTRAL" />
			</Filters> -->
		</Console>
		<File name="MyFile" fileName="logs/app.log">
			<PatternLayout pattern="%d %level %logger{1} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="net.ryanogrady.gowbot.GowGame" level="DEBUG"/>

		<Root level="INFO">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>